@model SMARTV3.Models.ReportPocinformation

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["EditReportPointOfContactInformation"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@localizer["EditReportPointOfContactInformation"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReportPOC">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">@localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["Phone"]</label>
                <input class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["Email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="@localizer["Save"]" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@localizer["BackToList"]</a>
</div>

