@using static Constants
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMaRT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMARTV3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
</head>
<body>
    @if (User.IsInRole(Admin) || User.IsInRole(SuperUser) || User.IsInRole(ReportingUser) || User.IsInRole(FGPlanner) || User.IsInRole(Modeler) || User.IsInRole(ReadOnlyUser))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Home"]</a>
                            </li>
                            @if (User.IsInRole(Admin))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">@localizer["Admin"]</a>
                                </li>
                            }
                            @if (User.IsInRole(Admin) || User.IsInRole(SuperUser) || User.IsInRole(ReportingUser) || User.IsInRole(Modeler))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ForcePackage" asp-action="Index">@localizer["ForcePackages"]</a>
                                </li>
                            }
                            @if (User.IsInRole(Admin) || User.IsInRole(SuperUser))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ManageUsers">@localizer["ManageUsers"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ChangeLogs" asp-action="Index" asp-route-sortOrder="date_desc">@localizer["ChangeLogs"]</a>
                                </li>
                            }
                            @if (User.IsInRole(Admin) || User.IsInRole(SuperUser) || User.IsInRole(ReportingUser) || User.IsInRole(FGPlanner) || User.IsInRole(ReadOnlyUser))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DataCards" asp-action="Index">@localizer["DataCards"]</a>
                                </li>
                            }
                            @if (User.IsInRole(Admin))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Mrop" asp-action="Index">@localizer["MROP"]</a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown">@localizer["References"]</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" style="color:black" href="@Configuration.GetValue(typeof(string),"UserGuideLink")">User Guide</a>
                                    <a class="dropdown-item" style="color:black" href="@Configuration.GetValue(typeof(string),"CapabilityCodesLink")">NATO Capability Codes and Statements Manual</a>
                                    <a class="dropdown-item" style="color:black" href="@Configuration.GetValue(typeof(string),"CDSDirectiveLink")">CDS Directive for CAF FP&R 2024-25</a>
                                    <a class="dropdown-item" style="color:black" href="@Configuration.GetValue(typeof(string),"ShapeLink")">Canadian National Military Representive SHAPE</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown">@localizer["GenerateReports"]</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="ReportGenerator" asp-action="CreateNFMReport">NFM</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ReportGenerator" asp-action="CreateAnnexBReport">@localizer["AnnexB"]</a>
                                </div>
                            </li>
                            <li class="nav-link">
                                <partial name="_Culture" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>