@model SMARTV3.Models.Operation

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    string formName = "EditOperation";
    ViewData["Title"] = localizer[formName];
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ArchiveComment> comments = new List<ArchiveComment>();
    foreach (var OperationArchiveComments in Model.OperationArchiveComments.OrderByDescending(c => c.ArchiveComment.ChangeDate))
    {
        comments.Add(OperationArchiveComments.ArchiveComment);
    }
}

<h4>@localizer[formName]</h4>
<head>
    <link rel="stylesheet" href="~/css/ArchiveModal.css" asp-append-version="true" />
</head>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@formName" name="@formName" id="@formName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" id="ArchiveReason" name="ArchiveReason" />
            <div class="form-group">
                <label class="control-label">@localizer["OperationName"]</label>
                <input asp-for="OperationName" class="form-control" />
                <span asp-validation-for="OperationName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["OperationNameFre"]</label>
                <input asp-for="OperationNameFre" class="form-control" />
                <span asp-validation-for="OperationNameFre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @localizer["Archived"]
                </label>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["SortOrder"]</label>
                <input asp-for="Ordered" class="form-control" />
                <span asp-validation-for="Ordered" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-primary" onclick="isArchivedOrUnarchived()">@localizer["Save"]</a>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ManageOperations">@localizer["BackToList"]</a>
</div>
<br />
@if (Model.OperationArchiveComments.Count > 0)
{
    await Html.RenderPartialAsync("ArchiveCommentTable", comments);
}

<div id='archiveModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='archiveModalContent'></div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/archivemodal.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#archiveModal').on('hidden.bs.modal', function () {
                modalHidden('@formName');
            });
        @{
            ArchiveComment? FirstComment = comments.FirstOrDefault();
            int FirstCommentId = 0;
            if (FirstComment != null) FirstCommentId = FirstComment.Id;
        }
                    if (@FirstCommentId != 0) getComment("" + @FirstCommentId);
        });

        function isArchivedOrUnarchived() {
            var checkBox = document.getElementById('Archived');
            if (@Model.Archived.ToString().ToLower() != checkBox.checked) {
                showModal();
            } else {
                submit('@formName');
            }
        }

    </script>
}