@model SMARTV3.Models.OutputTask

@{
    ViewData["Title"] = localizer["CreateOutputTask"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<h5>@localizer["Create Output Task"]</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOutputTask" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@localizer["Output Name"]</label>
                <input asp-for="OutputName" class="form-control" />
                <span asp-validation-for="OutputName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["Output Description"]</label>
                <input asp-for="OutputDesc" class="form-control" />
                <span asp-validation-for="OutputDesc" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["Capability"]</label>
                <select asp-for="CapabilityId" class="form-select" asp-items="ViewBag.capabilityId"></select>
                <span asp-validation-for="CapabilityId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@localizer["Priority"]</label>
                <input asp-for="Priority" class="form-control" type="number" min="0" max="10" step="0.1"/>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="OutputStart">@localizer["Output Start Date"]</label>
                <input asp-for="OutputStart" class="form-control" type="date" />
                <span asp-validation-for="OutputStart" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OutputEnd">@localizer["Output End Date"]</label>
                <input asp-for="OutputEnd" class="form-control" type="date" />
                <span asp-validation-for="OutputEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@localizer["NTM"]</label>
                <select asp-for="NtmId" class="form-select" asp-items="ViewBag.ntmId"></select>
                <span asp-validation-for="NtmId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="@localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">@localizer["Back"]</a>
</div>
