@model IEnumerable<SMARTV3.Models.Capability>

@{
    ViewData["Title"] = localizer["ManageCapabilities"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<h4>@localizer["ManageCapabilities"]</h4>

<hr />
<p>
    <a asp-action="AddCapability">@localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["CapabilityName"]
            </th>
            <th>
                @localizer["CapabilityNameFre"]
            </th>
            <th>
                @localizer["NatoCapability"]
            </th>
            <th>
                @localizer["Archived"]
            </th>
            <th>
                @localizer["SortOrder"]
            </th>
            <th>
                @localizer["ArchiveComments"]
            </th>
            <th>
                @localizer["CommentDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            CapabilityArchiveComment? newestComment = item.CapabilityArchiveComments.LastOrDefault();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CapabilityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapabilityNameFre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NatoCapability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordered)
                </td>
                @if (newestComment != null)
                {
                    <td>
                        <label class="comment-scroll">@newestComment.ArchiveComment.Comments</label>
                    </td>
                    <td>
                        <label>@newestComment.ArchiveComment.ChangeDate.ToString("g")</label>
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td>
                    <a asp-action="EditCapability" asp-route-id="@item.Id"><img src='@Url.Content("~/images/Edit.png")' height="16" width="16" title="@localizer["Edit"]" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
